<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic need -->
	<title>ReaLand</title>
	<meta charset="UTF-8">
	<meta name="description" content="ReaLand - Real Estate HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css"> 
    
	<!-- Mobile specific meta -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone-no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
</head>

<body>

<div id="app">
    <admin-realtor-root></admin-realtor-root>
</div>    

<script type="text/x-template" id="admin-realtor-root-template">
    <div class="container">    
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#company">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#profile">Realtor Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#property">Properties</a>
                </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="company"> 
                        <admin-realtor-company-list></admin-realtor-company-list>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <admin-realtor-profile-list></admin-realtor-profile-list>
                    </div>
                    <div class="tab-pane fade" id="property">
                        <admin-realtor-property-list></admin-realtor-property-list>
                    </div>
                </div>  
            </div>  
        </div>
    </div>          
</script>

<script type="text/x-template" id="admin-realtor-property-list-template">
    <div class="container property-list">
        <div class="list-group list-group-flush" >
            <div v-for="item in properties" >
                <div class="list-group-item list-group-action list-item-link">
                    <div class="row">
                        <div class="col-md-6 text-left detail" v-bind:class="'list-item-'+item.id">{{item.id}}</div>
                        <div class="col-md-6 text-right detail" v-bind:class="'list-item-'+item.id">
                            <a href="#" v-bind:class="'list-item-'+item.id" class="edit">Edit</a>
                            <a href="#" v-bind:class="'list-item-'+item.id" class="delete">Delete</a>
                        </div>
                    </div>
                </div>
                <admin-realtor-property-detail v-bind:detail="item"></admin-realtor-property-detail>
            </div>    
        </div>
    </div>
</script>



<script type="text/x-template" id="admin-realtor-property-detail-template">
    <div class="item-detail">
               <div  v-bind:class="'detail-list-item-'+detail.id">
                <div class="list-group">
                    <div class="list-group-item">
                        <div v-for="(value,key) in detail.propertyBasicField" class="row">
                            <div class="col-md-3 text-right">{{key}} :</div>
                            <div class="col-md-9 text-left">{{value}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  ADD V-MODEL HERE!!!!-->
            <div v-bind:class="'form-list-item-'+detail.id">
                <form>
                    <div v-for="(value,key) in detail.propertyBasicField" class="form-group row">
                        <label v-bind:for="key" class="col-md-3 text-right">{{key}}  :</label>
                         <!-- Should I use bi-direction binding?-->
                        <input type="text" v-model="detail.propertyBasicField[key]" class="form-control col-md-8" v-bind:id="key"></input> 
                    </div>

                   
                </form>
            </div> 
    </div>
</script>

<script type="text/x-template" id="admin-realtor-company-list-template">

</script>

<script type="text/x-template" id="admin-realtor-profile-list-template">

</script>

<form method="POST" action="http://localhost:8080/api/storage/file/abcd" id="test">
        <div class="form-group row">
            <label for="" class="col-md-3 text-right">Images : </label>
            <input type="file" id="pic">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!-- JS Files -->
<script src="js/admin.js"></script>


</body>

</html>